{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="/static/questionedit.css">
<h1>Questions</h1>
<div class="twoColumn">
<div class="questionWrapper">
{% for question in room.questions %}
    <div class="question">  
        <div class="questionHeader">
            <h4>{{question.questionText}}</h4>
            <form action="" method="post" name="form">
                <input type="hidden" id="requestType" name="requestType" value="deleteQuestion">
                <input type="hidden" id="questionID" name="questionID" value="{{loop.index0}}">
                <input type="submit" name="submit" value="Delete question">
            </form>
        </div>
        {% set outer_loop = loop %}
        {% for answer in question.answers %}
        <div class="answer">
            <label>{{answer}}</label>
            {% if question.correctAnswer == loop.index0 %}
                <label>(Correct)</label>
            {% else %}
                <div class="questionButtons">
                    <form action="" method="post" name="form">
                        <input type="hidden" id="requestType" name="requestType" value="deleteAnswer">
                        <input type="hidden" id="answerID" name="answerID" value="{{loop.index0}}">
                        <input type="hidden" id="questionID" name="questionID" value="{{outer_loop.index0}}">
                        <input type="submit" name="submit" value="Delete answer">
                    </form>
                    <form action="" method="post" name="form">
                        <input type="hidden" id="requestType" name="requestType" value="setCorrectAnswer">
                        <input type="hidden" id="answerID" name="answerID" value="{{loop.index0}}">
                        <input type="hidden" id="questionID" name="questionID" value="{{outer_loop.index0}}">
                        <input type="submit" name="submit" value="Set correct answer">
                    </form>
                </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="addAnswer">
            <form action="" method="post" name="form">
                <div class="formItem">
                    <label for="answer">Add answer</label>
                    <input type=text name="answer" id="answer" required/>
                    <input type="hidden" name="questionID" id="questionID" value="{{loop.index0}}">
                    <input type="hidden" id="requestType" name="requestType" value="addAnswer">
                </div>
                <div class="submitNewAnswer">
                    <input type="submit" name="submit">
                </div>    
            </form>
        </div>
    </div>
{% endfor %}
</div>
<div class="addQuestion">
    <h2>Add a new question</h2>
    <form action="" method="post" name="form">
        <div class="formItem">
             <label for="questionText">Question Text: </label>
             <input type=text name="questionText" id="questionText" required/>
        </div>    
 
        <div class="formItem">
             <label for="answers">Answers (Separate each answer with a semicolon): </label>
             <input type=text name="answers" id="answers" required/>
        </div>
    
        <div class="formItem">
             <label for="correctAnswer">Correct Answer: </label>
             <input type=text name="correctAnswer" id="correctAnswer" required/>
        </div>   
        <input type="hidden" id="requestType" name="requestType" value="addQuestion"> 
        <input type="submit" name="submit" id="submit">
    </form>

    {% if room.questions|length > 0 %}
        <a href="./lobby?roomCode={{room.roomCode}}">Enter Lobby</a>
    {% endif %}
    <a href="./admin">Back to admin screen</a>
</div>
</div>
{% endblock %}
